<?xml version="1.0"?>
<launch>
    <arg name="robot_name"              default="panda"/>
    <arg name="camera_frame"            default="camera_color_optical_frame"/>
    <arg name="camera_fps"              default="5"/>

	<param name="robot_name" type="str" value="$(arg robot_name)" />
	<param name="camera_frame" type="str" value="$(arg camera_frame)" />
	<param name="planning_frame" type="str" value="$(arg robot_name)_link0" />
    <arg name="gui_start_delay"         default="8"/>
    
    <!-- <include file="$(find calibrate)/launch/publish_calibration.launch"/>-->
  
  <group ns="$(arg robot_name)">
  	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
  		<arg name="align_depth" 	value="true"/>
		<arg name="enable_pointcloud"	value="true"/>
		<arg name="initial_reset"	value="true"/>
		<arg name="depth_width"       value="848"/>
      		<arg name="depth_height"      value="480"/>
      		<arg name="depth_fps"         value="$(arg camera_fps)"/>
      		<arg name="color_width"       value="848"/>
      		<arg name="color_height"      value="480"/>
      		<arg name="color_fps"         value="$(arg camera_fps)"/>
		
  	</include>

    <node name="plan_movement" pkg="grasp" type="plan_movement_node.py" output="screen"></node>
    
    <node name="detect_truss_obb" pkg="grasp" type="detect_truss_obb_node.py" output="screen"></node>
    
    <node name="detect_truss_manual" pkg="grasp" type="detect_truss_manual_node.py" output="screen"></node>
    
    <node name="determine_grasp_candidates_oriented_keypoint" pkg="grasp" type="determine_grasp_candidates_oriented_keypoint_node.py" output="screen"></node>
    
    <node name="determine_grasp_candidates_manual" pkg="grasp" type="determine_grasp_candidates_manual_node.py" output="screen"></node>
    
    <node name="choose_grasp_pose_from_candidates" pkg="grasp" type="choose_grasp_pose_from_candidates_node.py" output="screen"></node>
  
    <node name="pipeline" pkg="grasp" type="pipeline.py" output="screen"></node>
  
    <node name="rqt" pkg="rqt_user_interface" type="rqt_user_interface" output="screen" launch-prefix="bash -c 'sleep $(arg gui_start_delay); $0 $@' "></node>
  	
    <node name="map" pkg="pointcloud" type="pointcloud" output="screen"></node>
    
  </group>
</launch>
